@{
    Layout = "~/Views/shared/_BaseLayout.cshtml";
}

@model TrabajoPracticoGrupo10.Models.Paquete

<h2>Listado de Paquetes</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Fecha de Inicio</th>
            <th>Fecha Fin</th>
            <th>Destacado</th>
            <th>Lugares Disponibles</th>
            <th>Precio Por Persona</th>
            <th>Foto</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Nombre</td>
            <td>Descripción</td>
            <td>Fecha de Inicio</td>
            <td>Fecha Fin</td>
            <td>Destacado</td>
            <td>Lugares Disponibles</td>
            <td>Precio Por Persona</td>
            <td>Foto</td>
        </tr>
        
    </tbody>
</table>